* {
    margin: 0;
    font-family: monospace;
}

body {
    background-color: #1d1a39;
    color: #e8bcb9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 1.5em;
}

header h1 {
    color: #f39f5a;
    font-size: 36px;
}

main {
    max-width: 1200px;
    margin: 1em auto;
}

.enlace-grande {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
}

.enlace-grande i {
    margin-right: 0.5em;
}

.boton-grande {
    border: 2px solid #1d1a39;
    border-radius: 5px;
    outline: solid 2px #e8bcb9;
    background-color: #1d1a39;
    color: #e8bcb9;
}

.boton-grande:hover {
    background-color: #e8bcb9;
    color: #1d1a39;
    cursor: pointer;
}